html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
 }

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 400px;
    margin-bottom: 10px;
}

.score-panel .stars {
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
    margin-left:-120px;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
    position: relative;
    right:-100px; 
    font-size: 15px;
}
/*restart button animation*/
.rotate{
    font-size:30px;
    animation:spin 0.5s linear;
}
@keyframes spin{
    100%{
            transform: rotate(360deg);
    }
}
/*timer */
.timer{
    display: inline-block;
    position: relative;
    left:85px;
}
/*css animation for matched and unmatched cards..*/
/*for unmatch cards*/
.unsuccess {
  animation: shake 0.7s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% { transform: translate3d(-1px, 0, 0); }
  20%, 80% { transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% { transform: translate3d(-4px, 0, 0); }
  40%, 60% { transform: translate3d(4px, 0, 0); }
}
/*success*/
.success {
    animation-name: bounce;
    animation-duration:0.7s;
    cursor: default;
}
 @keyframes bounce { 
    0%, 20%, 50%, 80%, 100% { transform: translateY(0); } 
    40% { transform: translateY(-30px); } 
    60% { transform: translateY(-15px); } 
}
/*//popup*/
.overlay{
    display:none;
    z-index: 10;
    width:350px;
    height: 300px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background:rgb(255, 255, 255,1); 
    text-align: center;
    /*transition: display 0.7s linear;*/
}
.overlay button.close{
   float: right;
   margin-right: 5px;
   margin-top: 2px;
   border:none;
   border-radius: 4px;
   font-size: 25px;
   background: inherit;
 }
.overlay h1{
    clear: both;
    margin-top: 10px;
    /*text-transform: uppercase;*/
 }
.overlay i.fa-trophy {
    color: #cd7f32;
    font-size: 40px;
}
.overlay button.play{
    margin-top: 10px;
    width:110px;
    height: 40px;
    font-size:17px;
    font-weight: 600;
    padding: 10px; 
    color: #fff;
    background: skyblue;
    border-radius: 4px;
    border:0px;
}
.overlay span.star{
    display: block;
}